body {
    box-sizing: border-box;
}

.App {
    background: white url("/media/polygons.jpg") no-repeat center;
    max-width: 960px;
    margin: 0 auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    /*margin: 0 auto;*/    
}